html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --content-color:  #ebe7ff;
    --sidebar-color: #e7e2ff;
    --header-color: #ddd6fe;
    --btn-color: #a78bfa
}
body{
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.logo{
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: var(--header-color);
}
.logo{
    font-size: 2.5rem;
}
.main{
    background-color: var(--content-color);
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}
.sidebar{
    padding: 16px;
    background-color: var(--sidebar-color);
}
.project-btns{
    font-size: 1.5rem;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}
.project-btn{
    display: flex;
    border-radius: 8px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    background-color: var(--sidebar-color);
}
.project-btn-title:hover,.project-btn-close:hover, button:hover, .btn-new-project:hover{
    scale: 0.97;
}
.content{
    padding: 20px 40px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 16px;
}
.content-title{
    font-size: 1.5rem ;
}
.tasks{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.project-form-container, .task-form-container, .task-details{
    border-radius: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    padding: 16px;
    z-index: 10;
    background-color: white;
    width: fit-content;
    height: auto;
}
.task-details.active{
    display: flex;
    background-color: var(--content-color);
    flex-direction: column;
    gap: 8px;
    width: 400px;
    transform: translate(-50%, -50%) scale(1);
}
.task-details-header{
    font-size: 1.5rem;

}
.task-form-container{
    width: clamp(250px, 300px, 40%);
}
.project-form-container.active, .task-form-container.active{
    transform: translate(-50%, -50%) scale(1);
}
.project-form, .task-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.task-form > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
input{
    border-radius: 8px;
    padding: 8px;
    border: 1px solid var(--btn-color);
    outline: none;
}
button{
    all: unset;
    background-color: var(--btn-color);
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    height: fit-content;
    text-align: center;
}
.project-form-overlay, .task-form-overlay, .task-details-overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
.project-form-overlay.active, .task-form-overlay.active, .task-details-overlay.active{
    opacity: 1;
    pointer-events: all;
}
.task{
    background-color: var(--sidebar-color);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
}
.task:hover{
    scale: 1.005;
    -webkit-box-shadow: 2px 5px 6px 0px rgba(0,0,0,0.37); 
    box-shadow: 2px 5px 6px 0px rgba(0,0,0,0.37);
}
.task-close, .task-check-box, .project-btn-close{
    height: 24px;
    width: auto;
    cursor: pointer;
}
.task.checked{
    text-decoration: line-through;
    color: gray;
}
.task-date{
    margin-left: auto;
}
#task-description{
}
.project-btn{

}